//~~~~ VARIABLS ~~~~//
$black: #121316;
$grey-darkest: #1d1f21;
$grey-dark: #25292c;
$grey: #31353a;
$grey-light: #4b4f53;
$grey-lightest: #77797d;

$orange: #f29a46;
$red-light: #fb5c69;

$mustard: #e0dc6d;
$vomit: #dcf080;

$green-light: #bdda6e;

$cyan: #65a4a4;

$blue-dark: #1764a0;
$blue: #2195f0;
$blue-lightest: #a3def2;
$blue-light: #73aabd;

$white: #f4f4f4;
