@import "variables";
@import "toolbars";
@import "panel-elements";
@import "console";
@import "panel-network";
@import "panel-sources";
@import "panel-profile";
@import "panel-timeline";
@import "panel-resources";
@import "panel-audits";
@import "settings";

::-webkit-scrollbar {
  background-color: #31353a;
  bottom: 0;
  width:  15px !important;
  height: 15px !important;
}
::-webkit-scrollbar-track {
  width: 10px;
  border-radius: 10px;
  background-color: #31353a;
}
::-webkit-scrollbar-thumb {
  width: 15px;
  box-shadow: inset 0 0 1px #aaa;
  border: 2px solid transparent;
  border-left-width:1.5px;
  background-clip: content-box;
  border-radius:5px !important;
  background-color: #4b4f53;
 }
::-webkit-scrollbar-thumb:hover {
   background-color: #54595e;
   box-shadow: inset 0 0 1px #ccc;
}
::-webkit-scrollbar-thumb:active {
   background-color: #6c7177;
   box-shadow: inset 0 0 1px #fff;
}

.CodeMirror-hscrollbar {
  right: 15px !important;
  border-right:1px solid #222 !important;
}
.CodeMirror-vscrollbar {
  bottom: 0 !important;
}
.CodeMirror-scrollbar-filler {
  display:none !important;
}

// Reset State
.styles-section.matched-styles .properties li.parent .expand-element,
.properties-tree li.parent::before,
.section > .header::before,
.sidebar-pane-title::before,
.audit-result-tree li.parent::before,
.status-bar-select-arrow,
.data-grid th.sort-descending > div::after,
.data-grid th.sort-ascending > div::after,
.timeline-expandable-arrow,
.filter-checkbox-filter .checkbox-filter-checkbox-checked {
  opacity: 1;
  background: none;
  background-color: $blue;
  -webkit-mask-image: url(Images/statusbarButtonGlyphs.png);
}

// Default State = Right Arrow
.styles-section.matched-styles .properties li.parent .expand-element,
.properties-tree li.parent::before,
.section > .header::before,
.sidebar-pane-title::before,
.audit-result-tree li.parent::before,
.timeline-expandable-collapsed .timeline-expandable-arrow {
  -webkit-mask-position: -4px -96px;
}

// Expanded State = Down
.styles-section.matched-styles .properties li.parent.expanded .expand-element,
.properties-tree li.parent.expanded::before,
.section.expanded > .header::before,
.sidebar-pane-title.expanded::before,
.audit-result-tree li.parent.expanded::before,
.timeline-expandable-expanded .timeline-expandable-arrow {
  -webkit-mask-position: -20px -96px;
}

// Default State = Down
.status-bar-select-arrow,
.data-grid th.sort-descending > div::after {
  -webkit-mask-position: -20px -96px;
}

// Expanded State = Up
.data-grid th.sort-ascending > div::after {
  -webkit-mask-position: -4px -108px;
}

.filter-checkbox-filter .checkbox-filter-checkbox-checked {
  -webkit-mask-position: -129px -110px;
  background-color: $white;
}

//~~~~ GLOBAL ELEMENTS ~~~~//
#console-messages,
.console-view-wrapper,
#console-view,
.CodeMirror-scroll,
.drawer .revision-history-drawer,
.dialog .fill, .panel,
.console-status-bar,
.help-window-main,
.tabbed-pane-content,
.tabbed-pane-content.has-no-tabs,
.sidebar-overlay,
.styles-section.read-only,
.split-view-vertical .sidebar-pane.composite .properties-tree,
.panel:not(.elements),
.panel:not(.extension-panel),
#network-views .CodeMirror-lines,
#script-view-fallback,
.panel-status-bar,
.sidebar, body.inactive .sidebar {
  color: $white;
  background: $grey-dark;
}

.tabbed-pane-header {
  flex-basis: 36px;
  color: $white !important;
  background: $grey-darkest !important;
  border-bottom: 1px solid $grey-dark !important;
  .tabbed-pane-header-tab {
    box-sizing: initial;
    text-align: center;
    padding: 9px 4px;
    height: 28px;
    margin: 0;
    background: $grey !important;
    color: $grey-lightest;
    border-right: 1px solid $grey-darkest;
    &.selected {
      background: $grey-light !important;
      color: $white;
      -webkit-border-image: none;
      border: none;
      border-right: 1px solid $grey-darkest;
      border-left: 1px solid transparent;
    }
  }
}

.tabbed-pane-content > .panel {
  border-top: 5px solid $black;
}

.overrides-view input[type=text], .overrides-view select,
input, input[type="password"], input[type="text"],
input[type="search"], isindex, .search-replace,
.settings-tab input:not([type]), .settings-tab input[type="text"] {
  padding: 5px 8px;
  background-color: $grey-light;
  border: 1px solid $grey-darkest;
  color: $white;
}

.overrides-activate-device #tab-device,
.overrides-activate-viewport #tab-viewport,
.overrides-activate-user-agent #tab-user-agent,
.overrides-activate-sensors #tab-sensors {
  color: $blue-lightest;
}

.overrides-view .overrides-footer {
  padding: 5px;
  background: $grey-dark;
  border-top: 1px solid $grey-light;
  color: $white;
}

button.overrides-swap {
  background: $blue;
  border: none;
  margin: 5px 10px;
  color: darken($blue, 50%);
}

.status-bar {
  background: $grey-dark;
  border-top: 1px solid $grey-light;
  color: $white;
}

.settings-tab-text-button {
  margin: 0 5px;
  background: $blue;
  border: 0 !important;
  border-radius: 2px;
  box-shadow: none;
  text-shadow: none;
  color: $white;
  &:not(:disabled):hover {
    background: darken($blue, 20%);
    box-shadow: none;
    color: $white;
  }
}

a {
  color: $green-light !important;
  &:hover {
    color: darken($green-light, 20%) !important;
  }
}

// GLYPHS

button.status-bar-item .glyph.shadow, .glyph.shadow {
  background-color: none;
}

.glyph {
  top: 0;
}

/*-- GLYPHS -- */
button.status-bar-item .glyph {
  background-color: $grey-lightest;
}

.search-drawer-header label.search-config-label {
  color: $grey-lightest;
}

button.scripts-step-over .glyph,
button.scripts-step-into .glyph,
button.scripts-step-out .glyph,
.filters-toggle.toggled-active .glyph,
button.status-bar-item.toggled-on .glyph,
button.status-bar-item.toggled-on .glyph:not(.shadow),
button.clear-status-bar-item:active .glyph,
button.garbage-collect-status-bar-item:active .glyph,
button.glue-async-status-bar-item:active .glyph,
.filters-toggle.toggled-shown .glyph {
  background-color: $blue;
}

button.status-bar-item.toggled-on .glyph:not(.shadow) {
  background-color: $blue !important;
}

button.status-bar-item .glyph {
  left: -3px;
}

.long-click-glyph {
  color: $grey-lightest;
}

.section .properties {
  .name {
    color: $blue !important;
    &.dimmed {
      color: $blue-lightest;
      opacity: 1;
    }
  }
}

.sidebar-tree-section {
  text-shadow: none;
}

#scripts-debug-toolbar, .scripts-debug-toolbar, .sidebar-pane-title {
  height: 30px;
  flex: 0 0 30px;
  padding: 5px;
  flex: 0 0 30px;
  background: $grey !important;
  border-top: 1px solid $grey-darkest;
  border-bottom: 1px solid $grey-darkest;
  color: $white;
  .status-bar-item {
    top: -3px;
  }
}
.sidebar-pane {
  padding: 5px 0;
  .breakpoints-list-deactivated {
    background: $grey-light;
    opacity: 1;
    li {
      padding: 5px;
      color: $grey-darkest;
    }
  }
}
.placard, .placard + .info {
  background: $grey;
  border: none;
  .subtitle {
    color: $grey-lightest !important;
  }
  &.selected {
    background: $blue;
    border: none;
    .subtitle {
      color: $grey-darkest !important;
    }
  }
  .subtitle {
    color: $grey-lightest;
  }
}

.sidebar-pane-toolbar {
  .panel.elements & > select.select-settings {
    -webkit-mask-image: url(chrome-devtools://devtools/bundled/Images/paneSettingsButtons.png);
    background: $white;
    &:hover {
      background: $blue;
    }
  }
  .panel.elements & > select.select-filter {
    -webkit-mask-image: url(Images/paneFilterButtons.png);
    background: $white;
    &:hover {
      background: $blue;
    }
  }
  & > .pane-title-button {
    &.add {
      -webkit-mask-image: url(Images/paneAddButtons.png);
      background: $white;
      background-image: none;
      &:hover {
        background: $blue;
      }
    }
    &.pane-title-button.refresh {
      -webkit-mask-image: url(Images/paneRefreshButtons.png);
      background: $white;
      background-image: none;
      &:hover {
        background: $blue;
      }
    }
    &.element-state {
      -webkit-mask-image: url(Images/paneElementStateButtons.png);
      background: $white;
      background-image: none;
      &:hover {
        background: $blue;
      }
    }
  }
}

// Syntax Highlighting
.cm-breakpoint .CodeMirror-linenumber {
  margin-left: 0 !important;
  background-color: $blue-light;
  border: none !important;
  color: $black !important;
}

.cm-breakpoint.cm-execution-line .CodeMirror-linenumber {
  background-color: $blue;
  color: $white !important;
}

.CodeMirror {
  .CodeMirror-selected {
    background-color: $grey-darkest;
  }

  pre {
    line-height: 14px;
  }
  .CodeMirror-linenumber {
    padding-left: 0;
    color: $grey-light;
  }
  .CodeMirror-sizer {
    margin-left: 40px;
  }
  .CodeMirror-gutters {
    border-right: none;
  }
  .CodeMirror-gutter {
    background-color: $grey-dark;
  }
  div.CodeMirror-cursor {
    border-left: 1px solid $white;
    z-index: 3;
  }
  // Source Syntax Highlighting
  // HTML/XML
  .cm-xml-tag {
    color: $vomit;
  }
  .cm-xml-attribute {
    color: $mustard;
  }
  .cm-xml-string {
    color: $blue-lightest;
  }
  .cm-xml-comment {
    color: $grey-lightest;
  }
  .cm-punctation {
    color: $orange;
  }
  // Javascript & Coffeescript
  .cm-error {
    color: $red-light;
  }
  .cm-js-keyword,  .cm-keyword {
    color: $mustard;
  }
  .cm-js-def, .cm-variable {
    color: $orange;
  }
  .cm-js-string, .cm-string {
    color: $blue-lightest;
  }
  .cm-js-number, .cm-number {
    color: $vomit;
  }
  .cm-js-string-2 {
    color: $orange;
  }
  .cm-js-comment, .cm-comment {
    color: $grey-lightest;
  }
  .cm-search-highlight {
    color: $orange;
  }
  .cm-css-qualifier, .cm-operator {
    color: $blue;
  }
  .cm-css-tag {
    color: $blue-light;
  }
  .cm-css-operator {
    color: $mustard;
  }
  .cm-css-property {
    color: $blue-light;
  }
  .cm-css-string, .cm-css-string-2 {
    color: $orange;
  }
  .cm-css-number {
    color: $vomit;
  }
  .cm-css-variable-2 {
    font-style: italic;
    color: $green-light;
  }
  .cm-css-atom, .cm-css-keyword, .cm-atom {
    color: $vomit;
  }
  .cm-css-meta {
    color: $red-light;
  }
  //Editing
  .CodeMirror-matchingbracket {
    background-color: $grey-darkest;
    text-decoration: none;
    color: $blue !important;
  }
  .CodeMirror-nonmatchingbracket {
    color: $red-light !important;
  }
}

.dialog {
  background-image: none;
  background-color: $grey-darkest;
  border-radius: 5px;
  border: 5px solid $grey;
  box-shadow: $black 0 1px 8px;
  input.monospace {
    height: 44px;
    padding: 10px;
    background-color: $grey-dark;
    font-size: 24px !important;
    line-height: 24px;
    outline: none;
  }
  .filtered-item-list-dialog {
    > div.container {
      background: $grey-darkest;
      border: none;
      top: 64px;
    }
    .filtered-item-list-dialog-item {
      background-color: $grey-darkest;
      padding: 8px 10px;
      border-bottom: 1px solid $grey-dark;
      color: $grey-light;
      &.selected {
        background-color: $blue-dark;
        color: $white;
        span.highlight {
          color: $grey-darkest;
        }
      }
      span.highlight {
        color: $blue;
      }
    }
  }
}

// Popover helper in popoverHelper.html for quicker styling, since it's really hard to get it to stay during development

.CodeMirror .CodeMirror-persist-highlight {
  background-color: $blue;
  border: $blue-dark 1px solid;
  color: $black;
}

.popover {
  -webkit-border-image: none;
  background-color: none;
  box-shadow: 1px 1px 10px $grey-darkest;
  margin: 25px;
  border: 25px transparent;

  &.bottom-left-arrow {
    margin-top: -25px;
    .arrow {
      -webkit-mask-position: 0 -19px;
      bottom: 6px;
    }
  }

  &.top-left-arrow .arrow { top: 6px; }

  .arrow {
    background-color: $grey;
    background-image: none;
    -webkit-mask-image: url(Images/popoverArrows.png);
  }

  .content {
    background-color: $grey-darkest !important;
    border: 5px solid $grey;
    border-radius: 5px;
  }

  .inline-block {
    width: 100%;
  }

  .source-frame-popover-title, .function-popover-title {
    color: $grey-lightest;
    padding: 10px;
    margin-bottom: 10px;
  }

  .function-popover-title {
    border-bottom: 1px solid $grey-dark;
  }

  .console-formatted-undefined {
    margin-left: 10px;
    margin-top: 10px;
  }

  .source-frame-popover-tree {
    top: 28px;
    border-top: 1px solid $grey-darkest;
    .separator {
      color: $white;
    }
  }

  table {
    width: 100%;
    color: $white;

    tr {
      line-height: 1.5em;
    }

    td.timeline-details.timeline-details-row-title {
      color: $blue-light;
    }

    td.timeline-details-title {
      padding: .5em;
      border-bottom: 1px solid $grey;
    }
  }
}

.prefix {
  font-weight: bold;
  color:#fff;
}

.suggest-box {
  margin-top: 5px;
  margin-bottom: -5px;
  background: $grey-darkest !important;
  color:$grey-lightest !important;
  border: none !important;
  box-shadow: 1px 1px 10px $grey-darkest !important;
  &.above-anchor {
    margin-top: -5px;
    border-bottom: none;
    border-top: 5px solid $grey-dark;
  }

  .container {
    border-radius: 3px;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  .suggest-box-content-item {
    padding: 2px;
    &.selected {
      background-color: $blue !important;
      color: $black;
    }

    &:hover:not(.selected) {
      background-color: $grey-darkest !important;
      border: 1px solid transparent !important;
    }
  }
}

fieldset[disabled] {
  color: $grey-light;
  input {
    background-color: $grey-light !important;
    color: $grey-darkest !important;
  }
}

