//~~~~ TIMELINE ~~~~//
.panel.timeline {
  .timeline-records-title, .timeline-records-list {
    background: $grey-dark;
    color: $white;
  }
  .resources-dividers-label-bar {
    padding: 5px;
    background: $grey-light;
    color: $white;
  }
  .timeline-details-view-title {
    flex-basis: 30px;
    padding: 5px;
    background: $grey-dark;
    border-top: 1px solid $grey-light;
    color: $white;
  }
  #timeline-overview-sidebar .sidebar-tree-item.selected {
    background: $blue;
    border-left: 6px solid $blue-lightest;
    color: $white;
  }
  #timeline-overview-frames canvas {
    background: $grey-dark;
  }
  #memory-graphs-container .split-view-contents-first {
    background: $grey-dark;
    .sidebar-tree.sidebar-tree-section {
      text-shadow: none;
      color: $grey-lightest;
    }
  }
  .timeline-aggregated-info-legend, .timeline-details-view-block {
    color: $white;
  }
  .timeline-tree-item .data.dimmed, .timeline-details-view-row-title {
    color: $grey-lightest;
  }
}
