@import "variables";
//~~~~ TOOLBAR ~~~~//
body#-blink-dev-tools .toolbar-background {
  background: $grey-darkest !important;
  border: none;
}

.toolbar {
  flex: 0 0 36px;
  background: $grey-darkest !important;
  border-bottom: 1px solid $grey-dark;
  .toolbar-controls-right {
    background: $grey-darkest;
    #error-warning-count {
      padding: 9px;
      color: $white;
    }
  }
  .toolbar-controls-left {
    opacity: 1;
    background: $grey-darkest;
    button.status-bar-item.toggled-on {
      background: $blue !important;
      .glyph {
        background-color: $white !important;
        opacity: 100%;
      }
    }
  }
  button.status-bar-item {
    margin: 3px;
    width: 26px;
    height: 26px;
    background: $grey;
    .toolbar-controls-right & {
      margin: 3px;
      margin-left: 0;
    }
  }
  .toolbar-controls-right #error-warning-count:hover {
    border-bottom: none;
  }
}
