//~~~~ VARIABLS ~~~~//
$black: #121316
$grey-darkest: #1D1F21
$grey-dark: #25292C
$grey: #31353A
$grey-light: #4B4F53
$grey-lightest: #77797D

$orange: #F29A46
$red-light: #FB5C69

$mustard: #E0DC6D
$vomit: #DCF080

$green-light: #BDDA6E

$cyan: #65A4A4

$blue-dark: #1764A0
$blue: #2195F0
$blue-lightest: #A3DEF2
$blue-light: #73AABD

$white: #f4f4f4


.properties-tree li.parent::before,
.section > .header::before
  opacity: 1
  -webkit-mask-position: -4px -96px
  background: none
  background-color: $blue
  -webkit-mask-image: url(Images/statusbarButtonGlyphs.png)

//~~~~ TOOLBAR ~~~~//
body#-blink-dev-tools .toolbar-background
  background: $grey-darkest !important
  border: none

.toolbar
  flex: 0 0 36px
  background: $grey-darkest !important
  border-bottom: 1px solid $grey-dark

  .toolbar-controls-right
    background: $grey-darkest

    #error-warning-count
      padding: 9px
      color: $white

  .toolbar-controls-left
    opacity: 1
    background: $grey-darkest

    button.status-bar-item.toggled-on
      background: $blue !important

      .glyph
        background-color: $white !important
        opacity: 100%

  button.status-bar-item
    margin: 3px
    width: 26px
    height: 26px
    background: $grey

    .toolbar-controls-right &
      margin: 3px
      margin-left: 0

//~~~~ INSPECTOR MAIN ~~~~//
ol.elements-tree-outline .selected
  background: $grey

  .selection
    background: $grey !important

.webkit-html-tag-name,
.styles-section .simple-selector.selector-matches, .styles-section .selector
  color: $green-light

.webkit-html-tag
  color: $cyan

.webkit-html-tag-name
  color: $green-light

.webkit-html-attribute-name
  color: $mustard

.webkit-html-attribute-value
  color: $blue-lightest

span.webkit-html-text-node.bogus
  color: $blue

.webkit-html-pseudo-element
  color: $red-light

.webkit-html-comment
  color: $grey-lightest

.webkit-css-property
  color: $blue-light

.metrics-and-styles .properties .value
  color: $orange

.inspector-footer.status-bar
  padding: 5px
  background-color: $grey-darkest
  border-top: 1px solid $grey-light

  .toolbar-search-control
    background-color: $grey-light
    border: none

  .toolbar-search button
    padding: 3px
    background: $grey
    color: $white
    border-radius: 0
    border: none
    font-size: 10px

.split-view.hbox > .split-view-resizer
  width: 3px
  background: $grey-darkest

//~~~~ INSPECTOR SIDEBAR ~~~~//
.sidebar-separator
  padding: 5px
  background: $grey
  border-bottom: 1px solid $grey-darkest
  color: $white

.styles-section
  padding: 5px
  border-bottom: 1px solid $grey-darkest

  &.user-rule.read-only
    background-color: $grey-lightest

    .header .subtitle
      color: $grey-darkest

.tabbed-pane-header-tabs-drop-down
  color: $blue

.styles-element-state-pane
  padding: 10px
  background: $grey-dark
  border-bottom: 1px solid $grey-light !important

.sidebar-tabbed-pane
  .tabbed-pane-header
    flex-basis: 24px
    font-size: 10px
    .tabbed-pane-header-tab
      padding: 4px 1px

.events-pane
  .section
    padding: 5px
    &:not(:nth-of-type(1))
      border-top: 1px solid $grey-darkest

  .name
    color: $white

.console-formatted-function
  color: $mustard

.console-formatted-string
  color: $blue-lightest

.console-formatted-boolean
  color: $green-light

.console-formatted-number
  font-weight: bold
  color: $green-light

.console-formatted-array
  color: $blue

.console-formatted-object
  color: $orange

//~~~~ BREADCRUMBS ~~~~//
#elements-crumbs
  flex-basis: 24px
  background: $grey-dark
  color: $grey-lightest
  border-top: 1px solid $grey-darkest
  border-bottom: 1px solid $grey-darkest

  .crumbs .crumb
    height: 24px
    padding-top: 2px
    border-right: 1px solid $grey-darkest
    &:hover
      background: $grey
      color: $white
    &.selected.start
      background: $grey-darkest

//~~~~ ELEMENTS ~~~~//
.panel.elements
  .metrics
    color: $grey-darkest
    .position:hover
      color: $white

//~~~~ CONSOLE ~~~~//
// Select Menus in Console
select.status-bar-item
  color: $blue-lightest
  text-shadow: none

  &:empty, &:empty + .status-bar-select-arrow
    display: none

.console-filters-header
  flex-basis: 36px
  padding: 5px
  background-color: $grey-darkest
  border-top: 1px solid $grey-light

  .filter-bitset-filter li.selected
    background: $blue
    border-radius: 0
    color: $grey-darkest

.search-drawer-header input[type="text"].search-config-search
  color: $white

#console-messages
  border-top: 1px solid $grey-darkest

  .console-message::before, .console-user-command::before,
  #console-prompt::before, .console-group-title::before,
  .console-error-level::before
    top: 1.1em

  .console-group-messages .section > .header .title
    color: $white

  .section .properties .name, .event-properties .name, .console-formatted-object .name
    color: $blue-light !important
    &.dimmed
      color: $blue-lightest

  .console-formatted-object
    color: $orange

  a
    color: $green-light
    &:hover
      color: darken($green-light, 20%)

  .console-error-level .console-message-text,
  .console-error-level .section > .header .title
    color: $red-light !important

  .console-message, .console-user-command, #console-prompt
    padding: 5px 0
    color: $blue-lightest
    border-bottom: 1px solid $grey

  .console-debug-level .console-message-text
    color: $blue

.search-status-bar-summary
  border-top: 1px solid $grey-light
  background: $grey-darkest

#drawer-contents .tabbed-pane-header .tabbed-pane-header-tab
  height: 18px
  border-left: 1px solid transparent
  border-bottom: 1px solid $grey-darkest

#search-results-pane-file-based
  .search-match
    .search-match-content
      color: $white
    .highlighted-match
      background: $blue-light
      padding: 0 3px
      color: $grey-darkest
    &:not(:hover) .search-match-line-number
      background: $grey-darkest
      color: $white
    &:hover .search-match-line-number
      background: $blue
      color: $white

  .search-result
    padding: 5px 0
    background: $grey-darkest
    border: 1px solid $grey-light
    border-right: none
    border-left: none
    color: $white
    &:hover
      color: $blue
      background: $grey-dark
    .search-result-file-name, .search-result-matches-count
      color: $white

//~~~~ NETWORK ~~~~//
.panel-status-bar
  flex-basis: 36px
  padding: 5px
  border-bottom: 1px solid $grey-darkest

.network-log-grid.data-grid
  th, th.sort-descending,
  th.sort-ascending,
    background: $grey-dark

  tr.filler
    background: $grey-darkest

  tr.odd:not(.selected)
    background-color: $grey-dark

  th, td
    border: 1px solid $grey-light !important

  .data-container
    top: 37px

.network.panel
  .data-grid th
    background: $grey-dark

  .tabbed-pane-header .tabbed-pane-header-tab
    font-size: 10px
    padding-top: 7px

.network-summary-bar
  flex-basis: 30px
  padding: 5px
  background: $grey-dark
  border-top: 1px solid $grey-light
  color: $white

#network-views .network-item-view .tabbed-pane-header
  flex-basis: 30px
  padding-top: 0

//~~~~ SOURCES ~~~~//
.panel.sources
  .sidebar-overlay
    box-shadow: none
  // Right sidebar
  .split-view-contents-first
    .tabbed-pane-header
      flex-basis: 24px

      .tabbed-pane-header-tab
        padding: 4px
        font-size: 10px

        .close-button-gray
          background-color: $grey-lightest
          top: 3px
          left: 4px
          &:hover
            background-color: $white
            background-position: -175px -96px

    .navigator li
      height: 20px
      font-size: 10px
      color: $grey-lightest

      &.selected
        padding-top: 2px
        background: $blue
        color: $white

  #sources-panel-sources-view .sources-status-bar
    flex-basis: 30px
    padding: 5px
    background: $grey-dark
    border-top: 1px solid $grey-light
    color: $white

  .sidebar-pane-stack#scripts-debug-sidebar-contents, #scripts-sidebar-stack-pane
    top: 29px

  .scripts-debug-toolbar, .sidebar-pane-title
    height: 30px
    flex: 0 0 30px
    padding: 5px
    flex: 0 0 30px
    background: $grey !important
    border-top: 1px solid $grey-darkest
    border-bottom: 1px solid $grey-darkest
    color: $white

    .status-bar-item
      top: -3px

  .sidebar-pane
    padding: 5px 0

    .breakpoints-list-deactivated
      background: $grey-light
      opacity: 1

      li
        padding: 5px
        color: $grey-darkest

  .placard, .placard + .info
    background: $grey
    border: none

    .subtitle
      color: $grey-darkest !important

    &.selected
      background: $blue
      border: none

    .subtitle
      color: $grey-lightest

  .watch-expressions
    li
      padding-top: 5px
      padding-bottom: 5px
      &.dimmed:hover
        background: $grey-light
        span
          color: $white !important
      &.parent:hover
        background:  $grey-darkest

.cm-execution-line
  background-color: $grey-darkest !important
  outline: none !important

.cm-highlight
  -webkit-animation: none
  background: $grey-light

.sidebar-pane .breakpoint-hit
  background: $blue-dark

//~~~~ TIMELINE ~~~~//
.panel.timeline

  .timeline-records-title, .timeline-records-list
    background: $grey-dark
    color: $white

  .resources-dividers-label-bar
    padding: 5px
    background: $grey-light
    color: $white

  .timeline-details-view-title
    flex-basis: 30px
    padding: 5px
    background: $grey-dark
    border-top: 1px solid $grey-light
    color: $white

  #timeline-overview-sidebar .sidebar-tree-item.selected
    background: $blue
    border-left: 6px solid $blue-lightest
    color: $white

  #timeline-overview-frames canvas
    background: $grey-dark

  #memory-graphs-container .split-view-contents-first
    background: $grey-dark

    .sidebar-tree.sidebar-tree-section
      text-shadow: none
      color: $grey-lightest

  .timeline-aggregated-info-legend, .timeline-details-view-block
    color: $white

  .timeline-tree-item .data.dimmed, .timeline-details-view-row-title
    color: $grey-lightest

//~~~~ PROFILE ~~~~//
.panel.profiles
  .panel-enabler-view, .profiles-sidebar-tree-box
    background: $grey-dark
    color: $white

  .panel-enabler-view button:not(.status-bar-item)
    background: $blue
    border: none
    border-radius: 3px
    color: $white

    body.inactive &
      background: $grey-lightest
      color: $grey

.data-grid
  table.data
    background: none

  .data-container
    top: 25px

  th
    padding: 5px
    background: $grey-dark !important
    border-bottom-color: $blue !important

  td
    padding: 5px
    color: $grey-lightest
    a
      color: $blue-light

  tr, td
    color: $white
    text-decoration: none !important

  tr:nth-child(odd)
    background: $grey-darkest

  tr:nth-child(even)
    background: $grey-dark

  tr:hover:not(:last-child)
    background: $blue
    text-decoration: none
    td
      color: $white
      a
        color: $blue-lightest
    .network-cell-subtitle
      color: $white

.network-cell-subtitle:hover
  color: $grey-darkest

  .data-grid-resizer
    width: 1px
    background: $grey-light

//~~~~ RESOURCES ~~~~//
.resources.panel
  .sidebar li
    height: 20px
    font-size: 10px
    color: $grey-lightest

    .base-storage-tree-element-title, img
      padding-top: 3px

    &.selected
      background: $blue
      color: $white

      .selection
        height: 22px
        background: $blue !important
        border: none !important

//~~~~ AUDITS ~~~~//
.panel.audits
  .audit-launcher-view .audit-launcher-view-content
    background: $grey-dark
    color: $white

  .sidebar-tree-section
    padding: 5px
    color: $grey-lightest
    text-shadow: none

  .audit-launcher-view div.button-container > button
    background: $blue
    border: none
    border-radius: 3px
    color: $white

    body.inactive &
      background: $grey-lightest
      color: $grey

//~~~~ PAGESPEED ~~~~//
#pagespeedpage div
  background: $grey-dark !important
  color: $white !important

//~~~~ SETTINGS ~~~~//
#settings-screen
  .help-window-main
    color: $white
    background: $grey-dark
    box-shadow: none
    border: 3px solid $grey-darkest

  .help-container-wrapper label
    color: $grey-lightest
    &:hover
      color: $white

  .help-section-title
    color: $blue

  .settings-tab select
    padding: 5px
    -webkit-appearance: none
    background: $grey-darkest
    border: none

  .tabbed-pane-header
    background: none !important

    .tabbed-pane-header-tab
      padding-top: 9px
      background: none !important
      &.selected
        color: $blue

  .settings-tab .settings-list-container
    background: $white

  .settings-experiments-warning-subsection-warning
    color: $red-light

  .no-file-systems-message
    padding: 8px
    background: $grey-darkest
    color: $white

//~~~~ GLOBAL ELEMENTS ~~~~//
#console-messages,
.console-view-wrapper,
#console-view,
.CodeMirror-scroll,
.drawer .revision-history-drawer,
.dialog .fill, .panel,
.console-status-bar,
.help-window-main,
.tabbed-pane-content,
.tabbed-pane-content.has-no-tabs,
.sidebar-overlay,
.styles-section.read-only,
.split-view-vertical .sidebar-pane.composite .properties-tree,
.panel:not(.elements),
.panel:not(.extension-panel),
#network-views .CodeMirror-lines,
#script-view-fallback,
.panel-status-bar,
.sidebar, body.inactive .sidebar
  color: $white
  background: $grey-dark

.tabbed-pane-header
  flex-basis: 36px
  color: $white !important
  background: $grey-darkest !important
  border-bottom: 1px solid $grey-dark !important

  .tabbed-pane-header-tab
    box-sizing: initial
    text-align: center
    padding: 9px 4px
    height: 28px
    margin: 0
    background: $grey !important
    color: $grey-lightest
    border-right: 1px solid $grey-darkest
    &.selected
      background: $grey-light !important
      color: $white
      -webkit-border-image: none
      border: none
      border-right: 1px solid $grey-darkest
      border-left: 1px solid transparent

.overrides-view input[type=text], .overrides-view select,
input, input[type="password"], input[type="text"],
input[type="search"], isindex, .search-replace,
.settings-tab input:not([type]), .settings-tab input[type="text"]
  padding: 5px 8px
  background-color: $grey-light
  border: 1px solid $grey-darkest
  color: $white

.overrides-activate-device #tab-device,
.overrides-activate-viewport #tab-viewport,
.overrides-activate-user-agent #tab-user-agent,
.overrides-activate-sensors #tab-sensors
  color: $blue-lightest

.overrides-view .overrides-footer
  padding: 5px
  background: $grey-dark
  border-top: 1px solid $grey-light
  color: $white

button.overrides-swap
  background: $blue
  border: none
  margin: 5px 10px
  color: darken($blue, 50%)

.status-bar
  background: $grey-dark
  border-top: 1px solid $grey-light
  color: $white

.settings-tab-text-button
  margin: 0 5px
  background: $blue
  border: 0 !important
  border-radius: 2px
  box-shadow: none
  text-shadow: none
  color: $white
  &:not(:disabled):hover
    background: darken($blue, 20%)
    box-shadow: none
    color: $white

a
  color: $green-light !important
  &:hover
    color: darken($green-light, 20%) !important


// GLYPHS

button.status-bar-item .glyph.shadow, .glyph.shadow
  background-color: none

.glyph
  top: 0

/*-- GLYPHS --*/
button.status-bar-item .glyph
  background-color: $grey-lightest

.search-drawer-header label.search-config-label
  color: $grey-lightest

button.scripts-step-over .glyph,
button.scripts-step-into .glyph,
button.scripts-step-out .glyph,
.filters-toggle.toggled-active .glyph,
button.status-bar-item.toggled-on .glyph,
button.status-bar-item.toggled-on .glyph:not(.shadow),
button.clear-status-bar-item:active .glyph,
button.garbage-collect-status-bar-item:active .glyph,
button.glue-async-status-bar-item:active .glyph,
.filters-toggle.toggled-shown .glyph
  background-color: $blue

button.status-bar-item.toggled-on .glyph:not(.shadow)
  background-color: $blue !important

button.status-bar-item .glyph
  left: -3px

.long-click-glyph
  color: $grey-lightest

// Scrollbar Styling
::-webkit-scrollbar-track
  width: 10px
  border-radius: 10px
  background-color: $grey

::-webkit-scrollbar
  width: 15px
  background-color: $grey
  bottom: 0

::-webkit-scrollbar-thumb
  width: 15px
  background-color: $grey-light
  border-radius: 6px

.CodeMirror-hscrollbar
  right: 15px !important
//   overflow: inherit !important

.CodeMirror-vscrollbar
  // bottom: 15px !important

.CodeMirror-scrollbar-filler
  background-color: $grey
  height: 15px !important
  width: 15px !important

.properties
  .name
    color: $blue !important
    &.dimmed
      color: $blue-lightest

.sidebar-pane-toolbar
  .panel.elements & > select.select-settings
    -webkit-mask-image: url(chrome-devtools://devtools/bundled/Images/paneSettingsButtons.png)
    background: $white
    &:hover
      background: $blue

  .panel.elements & > select.select-filter
    -webkit-mask-image: url(Images/paneFilterButtons.png)
    background: $white
    &:hover
      background: $blue

  & > .pane-title-button
    &.add
      -webkit-mask-image: url(Images/paneAddButtons.png)
      background: $white
      background-image: none
      &:hover
        background: $blue

    &.pane-title-button.refresh
      -webkit-mask-image: url(Images/paneRefreshButtons.png)
      background: $white
      background-image: none
      &:hover
        background: $blue


    &.element-state
      -webkit-mask-image: url(Images/paneElementStateButtons.png)
      background: $white
      background-image: none
      &:hover
        background: $blue

// Syntax Highlighting
.CodeMirror
  pre
    line-height: 14px

  .CodeMirror-linenumber
    padding-left: 0

  .CodeMirror-sizer
    margin-left: 40px

  .CodeMirror-gutters
    border-right: 1px solid $grey-darkest

  .CodeMirror-gutter
    background-color: $grey-dark
    color: $grey-light

  div.CodeMirror-cursor
    border-left: 1px solid $white
    z-index: 3

  // Source Syntax Highlighting
  // HTML/XML
  .cm-xml-tag
    color: $vomit

  .cm-xml-attribute
    color: $mustard

  .cm-xml-string
    color: $blue-lightest

  .cm-xml-comment
    color: $grey-lightest

  .cm-punctation
    color: $orange

  // Javascript & Coffeescript
  .cm-error
    color: $red-light

  .cm-js-keyword,  .cm-keyword
    color: $mustard

  .cm-js-def, .cm-variable
    color: $orange

  .cm-js-string, .cm-string
    color: $blue-lightest

  .cm-js-number, .cm-number
    color: $vomit

  .cm-js-string-2
    color: $orange

  .cm-js-comment, .cm-comment
    color: $grey-lightest

  .cm-search-highlight
    color: $orange

  .cm-css-qualifier, .cm-operator
    color: $blue

  .cm-css-tag
    color: $blue-light

  .cm-css-operator
    color: $mustard

  .cm-css-property
    color: $blue-light

  .cm-css-string, .cm-css-string-2
    color: $orange

  .cm-css-number
    color: $vomit

  .cm-css-variable-2
    font-style: italic
    color: $green-light

  .cm-css-atom, .cm-css-keyword, .cm-atom
    color: $vomit

  .cm-css-meta
    color: $red-light


  //Editing
  .CodeMirror-matchingbracket
    text-decoration: underline
    color: $white !important

.dialog
  background-image: none
  background-color: $grey-darkest
  border-radius: 5px
  border: 5px solid $grey
  box-shadow: $black 0 1px 8px

  input.monospace
    height: 44px
    padding: 10px
    background-color: $grey-dark
    font-size: 24px !important
    line-height: 24px
    outline: none

  .filtered-item-list-dialog
    > div.container
      background: $grey-darkest
      border: none
      top: 64px

    .filtered-item-list-dialog-item
      background-color: $grey-darkest
      padding: 8px 10px
      border-bottom: 1px solid $grey-dark
      color: $grey-light

      &.selected
        background-color: $blue-dark
        color: $white

        span.highlight
          color: $grey-darkest

      span.highlight
        color: $blue
