.toolbar {
  flex: 0 0 36px;
  background: #121316 !important;
  border-bottom: 1px solid #25292c; }
  .toolbar .toolbar-controls-right {
    background: #121316; }
    .toolbar .toolbar-controls-right #error-warning-count {
      padding: 9px;
      color: #f4f4f4; }
  .toolbar .toolbar-controls-left {
    background: #121316; }
  .toolbar button.status-bar-item {
    margin: 3px;
    width: 26px;
    height: 26px;
    background: #31353a; }
    .toolbar-controls-right .toolbar button.status-bar-item {
      margin: 3px;
      margin-left: 0; }

ol.elements-tree-outline .selected {
  background: #31353a; }

.webkit-html-tag-name,
.styles-section .simple-selector.selector-matches, .styles-section .selector {
  color: #bdda6e; }

.webkit-html-tag {
  color: #65a4a4; }

.webkit-html-attribute-name {
  color: #e0dc6d; }

.webkit-html-comment {
  color: #77797d; }

.webkit-html-attribute-value {
  color: #a3def2; }

.properties .value {
  color: #dcf080; }

.webkit-css-property {
  color: #73aabd; }

.inspector-footer.status-bar {
  padding: 5px;
  background-color: #121316;
  border-top: 1px solid #4b4f53; }
  .inspector-footer.status-bar .toolbar-search-control {
    background-color: #4b4f53;
    border: none; }
  .inspector-footer.status-bar .toolbar-search button {
    padding: 3px;
    background: #31353a;
    color: #f4f4f4;
    border-radius: 0;
    border: none;
    font-size: 10px; }

.split-view.hbox > .split-view-resizer {
  width: 3px;
  background: #121316; }

.sidebar-separator {
  padding: 5px;
  background: #31353a;
  border-bottom: 1px solid #121316;
  color: #f4f4f4; }

.styles-section {
  padding: 5px;
  border-bottom: 1px solid #121316; }

.tabbed-pane-header-tabs-drop-down {
  color: #2195f0; }

.styles-element-state-pane {
  padding: 10px;
  background: #25292c;
  border-bottom: 1px solid #4b4f53 !important; }

#elements-crumbs {
  flex-basis: 24px;
  background: #25292c;
  color: #77797d;
  border-top: 1px solid #121316;
  border-bottom: 1px solid #121316; }
  #elements-crumbs .crumbs .crumb {
    height: 24px;
    padding-top: 2px;
    border-right: 1px solid #121316; }
    #elements-crumbs .crumbs .crumb:hover {
      background: #31353a;
      color: #f4f4f4; }
    #elements-crumbs .crumbs .crumb.selected.start {
      background: #121316; }

select.status-bar-item {
  color: #a3def2;
  text-shadow: none; }

#console-messages {
  border-top: 1px solid #121316; }
  #console-messages .console-message::before, #console-messages .console-user-command::before,
  #console-messages #console-prompt::before, #console-messages .console-group-title::before,
  #console-messages .console-error-level::before {
    top: 1.1em; }
  #console-messages a {
    color: #bdda6e; }
  #console-messages .console-error-level .console-message-text,
  #console-messages .console-error-level .section > .header .title {
    color: #fb5c69 !important; }
  #console-messages .console-message, #console-messages .console-user-command {
    padding: 5px 0;
    color: #a3def2;
    border-bottom: 1px solid #31353a; }
  #console-messages .console-debug-level .console-message-text {
    color: #2195f0; }

.search-status-bar-summary {
  border-top: 1px solid #4b4f53;
  background: #121316; }

.panel-status-bar {
  flex-basis: 36px;
  padding: 5px;
  border-bottom: 1px solid #121316; }

.network-log-grid.data-grid th, .network-log-grid.data-grid th.sort-descending,
.network-log-grid.data-grid th.sort-ascending {
  background: #25292c; }
.network-log-grid.data-grid tr.filler {
  background: #121316; }
.network-log-grid.data-grid th, .network-log-grid.data-grid td {
  border: 1px solid #4b4f53 !important; }

.network.panel .data-grid th.sort-descending,
.network.panel .data-grid th.sort-ascending {
  background: #25292c; }

.network-summary-bar {
  flex-basis: 30px;
  padding: 5px;
  background: #25292c;
  border-top: 1px solid #4b4f53;
  color: #f4f4f4; }

#console-messages,
.console-view-wrapper,
#console-view,
.CodeMirror-scroll,
.drawer .revision-history-drawer,
.dialog .fill, .panel,
.console-status-bar,
.help-window-main,
.tabbed-pane-content,
.tabbed-pane-content.has-no-tabs,
.sidebar-overlay,
.styles-section.read-only,
.split-view-vertical .sidebar-pane.composite .properties-tree,
.panel:not(.timeline):not(.profiles),
.panel:not(.timeline):not(.profiles) .split-view-contents,
#network-views .CodeMirror-lines,
#script-view-fallback,
.panel-status-bar {
  color: #f4f4f4;
  background: #25292c; }

.tabbed-pane-header {
  flex-basis: 36px;
  color: #f4f4f4 !important;
  background: #121316 !important;
  border-bottom: 1px solid #25292c !important; }
  .tabbed-pane-header .tabbed-pane-header-tab {
    box-sizing: initial;
    text-align: center;
    padding: 9px 4px;
    height: 28px;
    margin: 0;
    background: #31353a !important;
    color: #77797d;
    border-right: 1px solid #121316; }
    .tabbed-pane-header .tabbed-pane-header-tab.selected {
      background: #4b4f53 !important;
      color: #f4f4f4;
      border: none !important; }

input, input[type="password"], input[type="search"], isindex, .search-replace {
  padding: 3px 8px;
  background-color: #4b4f53; }

button.status-bar-item .glyph.shadow, .glyph.shadow {
  background-color: none; }

.glyph {
  top: 0; }

/*-- GLYPHS -- */
button.status-bar-item .glyph {
  background-color: #77797d; }

.search-drawer-header label.search-config-label {
  color: #77797d; }

button.scripts-step-over .glyph,
button.scripts-step-into .glyph,
button.scripts-step-out .glyph,
.filters-toggle.toggled-active .glyph,
button.status-bar-item.toggled-on .glyph,
button.status-bar-item.toggled-on .glyph:not(.shadow),
button.clear-status-bar-item:active .glyph,
button.garbage-collect-status-bar-item:active .glyph,
button.glue-async-status-bar-item:active .glyph,
.filters-toggle.toggled-shown .glyph {
  background-color: #2195f0; }

button.status-bar-item.toggled-on .glyph:not(.shadow) {
  background-color: #2195f0 !important; }

button.status-bar-item .glyph {
  left: -3px; }

::-webkit-scrollbar-track {
  width: 8px;
  border-radius: 8px;
  background-color: #31353a; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #31353a; }

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #4b4f53;
  border-radius: 6px; }
